{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      <div id="paypal-container-KQD5A49V45C38"></div>
      <script>
        paypal.HostedButtons({
          hostedButtonId: "KQD5A49V45C38",
        }).render("#paypal-container-KQD5A49V45C38")
      </script>
    </div>
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}
    <div class="container">
      <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_QhYS1c2AKJUNn4" async></script></form>
    </div>
    <div class="container">
      <a href="/policies/tandc/">Terms and Conditions</a> | <a href="/policies/privacy/">Privacy Policy</a> |
      <a href="/policies/cancellation/">Cancellation and Refund Policy</a>
    </div>
    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% endif %}
