<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    <!-- Default Consent Mode config -->
    <script>
      //<![CDATA[
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('consent', 'default', {
        ad_storage: 'granted',
        analytics_storage: 'granted',
        functionality_storage: 'granted',
        personalization_storage: 'granted',
        security_storage: 'granted',
        ad_user_data: 'granted',
        ad_personalization: 'granted',
        wait_for_update: 1500,
      });
      gtag('consent', 'default', {
        region: [
          'AT',
          'BE',
          'BG',
          'HR',
          'CY',
          'CZ',
          'DK',
          'EE',
          'FI',
          'FR',
          'DE',
          'GR',
          'HU',
          'IS',
          'IE',
          'IT',
          'LV',
          'LI',
          'LT',
          'LU',
          'MT',
          'NL',
          'NO',
          'PL',
          'PT',
          'RO',
          'SK',
          'SI',
          'ES',
          'SE',
          'GB',
          'CH',
        ],
        ad_storage: 'denied',
        analytics_storage: 'denied',
        functionality_storage: 'denied',
        personalization_storage: 'denied',
        security_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        wait_for_update: 1500,
      });
      gtag('set', 'ads_data_redaction', true);
      gtag('set', 'url_passthrough', true);
      (function () {
        const s = {
          adStorage: { storageName: 'ad_storage', serialNumber: 0 },
          analyticsStorage: { storageName: 'analytics_storage', serialNumber: 1 },
          functionalityStorage: { storageName: 'functionality_storage', serialNumber: 2 },
          personalizationStorage: { storageName: 'personalization_storage', serialNumber: 3 },
          securityStorage: { storageName: 'security_storage', serialNumber: 4 },
          adUserData: { storageName: 'ad_user_data', serialNumber: 5 },
          adPersonalization: { storageName: 'ad_personalization', serialNumber: 6 },
        };
        let c = localStorage.getItem('__lxG__consent__v2');
        if (c) {
          c = JSON.parse(c);
          if (c && c.cls_val) c = c.cls_val;
          if (c) c = c.split('|');
          if (c && c.length && typeof c[14] !== undefined) {
            c = c[14].split('').map((e) => e - 0);
            if (c.length) {
              let t = {};
              Object.values(s)
                .sort((e, t) => e.serialNumber - t.serialNumber)
                .forEach((e) => {
                  t[e.storageName] = c[e.serialNumber] ? 'granted' : 'denied';
                });
              gtag('consent', 'update', t);
            }
          }
        }
        if (Math.random() < 0.05) {
          if (
            window.dataLayer &&
            (window.dataLayer.some((e) => e[0] === 'js' && e[1] instanceof Date) ||
              window.dataLayer.some((e) => e['event'] === 'gtm.js' && e['gtm.start'] == true))
          ) {
            document.head.appendChild(document.createElement('img')).src = '//clickiocdn.com/utr/gtag/?sid=245507';
          }
        }
      })();
      //]]>
    </script>

    <!-- Clickio Consent Main tag -->
    <script async type="text/javascript" src="//clickiocmp.com/t/consent_245507.js"></script>
    {% include head.liquid %}
    <script defer data-cfasync="false" src="https://s.clickiocdn.com/t/245507_wv.js"></script>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}

    <script>
      window.$zoho = window.$zoho || {};
      $zoho.salesiq = $zoho.salesiq || { ready: function () {} };
    </script>
    <script
      id="zsiqscript"
      src="https://salesiq.zohopublic.in/widget?wc=siq745ca775b7f03992061edc94e7177a902ba28b15c62c0c25c160723df908b21f"
      defer
    ></script>
  </body>
</html>
